body {
    font-family: 'Cuprum', sans-serif;
    background: rgba(0, 0, 0, 0.0001);
}

a {
    color: #FFFFFF;
}

ul {
    list-style: none;
}

.container {
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    background: #F3F7F9;
}

.header-top {
    background: #293449;
}

.header-top-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-top-logo {
    width: 220px;
    height: 47px;
}

form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.search-input {
    width: 271px;
    margin-left: 12px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border: none;
    background: #293449;
}

input::-moz-placeholder {
    color: #FFFFFF;
}

input::-webkit-input-placeholder {
    color: #FFFFFF;
}

.header-top-links-bookmarks {
    font-size: 18px;
    padding: 9px 0px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.header-top-links-basket {
    margin-left: 50px;
    margin-right: 26px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.header-top-links-placeorder {
    font-style: normal;
    font-size: 18px;
    padding: 9px 16px 9px 19px;
    line-height: 24px;
    font-weight: 400;
    width: 150px;
    background: #63A63E;
    color: #FFFFFF;
    text-align: center;
}

.header-contacts {
    background: #F3F7F9;
}

.header-contacts-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: 'Cuprum', sans-serif;
    font-style: italic;
    color: #EE3643;
    font-size: 16px;
    line-height: 23px;
}

.number {
    margin: 47px 0px 67px 0px;
    padding: 7px 45px 8px 74px;
    color: #EE3643;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

.adress-span {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 6px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.autorization-button {
    padding: 12px 31px 12px 31px;
    margin-right: 10px;
    font-size: 21px;
    line-height: 21px;
    border: none;
    background: #FFFFFF;
}

.registration-button {
    padding: 12px 15px 12px 15px;
    margin-right: -32px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    border: none;
    background: #FFFFFF;
}

.header-nav {
    background: #F3F7F9;
    font-family: "Cuprum";
}

.header-nav-list {
    background: #293449;
    list-style: none;
    display: flex;
    align-items: center;
}

.header-nav-list-item {
    margin: 16px 56px 20px 0px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.catalog-list {
    list-style: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    padding-inline-start: 0px;
}

.catalog-list-item-materials {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    background: #FFBF47;
}

.catalog-list-item-tools {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    background: #3BBCE3;
}

.catalog-list-item-for-construction {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    background: #DC91D8;
}

.catalog-list-item-sales {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background: #8ED78F;
}

.catalog-list-item-delivery {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background: #FFC047;
}

.catalog-list-item-slider {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.catalog-list-item {}

.catalog-list-title {
    margin: 0px 163px 0px 23px;
    padding: 20px 0px 0px 0px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    box-sizing: border-box;
}

.catalog-list-button {
    margin: 14px 142px 21px 23px;
    padding: 10px 24px 10px 23px;
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}

.catalog-list-button:hover {
    cursor: pointer;
    border: 1px solid white;
}

.slider-list {
    padding-inline-start: 0px;
}

.slider-item {
    width: 620px;
    position: relative;
}

.catalog-list-item-slider {}

.slider img {
    width: 100%;
    height: auto;
    position: absolute;
}

.slider-title {
    margin-top: 0px;
    padding-top: 23px;
    margin-left: 24px;
    margin-bottom: 0px;
    position: relative;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.slider-text {
    margin-left: 24px;
    margin-top: 5px;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.slider-buttons {
    position: relative;
    font-family: 'Cuprum', sans-serif;
}

.slider-catalog-a {
    font-family: 'Cuprum', sans-serif;
    position: relative;
    background: #EE3643;
    width: 192px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
}

.products-title {
    background: #F9F5F0;
    margin-top: 59px;
    width: 940px;
    padding: 29px 0px 30px 28px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425C;
    text-transform: uppercase;
}

.products-title a {
    padding: 11px 24px 9px 24px;
    margin: 25px 10px 26px 0px;
    width: 192px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #FFFFFF;
    background: #EE3643;
    text-transform: uppercase;
}

.products-list {
    font-family: 'Pt Sans'sans-serif;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
    padding-inline-start: 0px
}

.products-list-item {
    height: 100%;
    border: 1px solid #EAEAEA;
    font-family: 'Pt Sans'sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-item-old-price-vs-hidden {
    visibility: hidden;
}

.products-item-img {
    width: auto;
    height: auto;
}

.products-item-title {
    font-family: 'Pt Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.products-item-old-price {
    font-size: 17px;
    font-family: 'Pt Sans', sans-serif;
    line-height: 18px;
    font-weight: 700;
    color: #A9A9A9;
    text-decoration: line-through;
}

.products-item-new-price {
    padding: 10px 42px 10px 32px;
    margin: 13px 32px 21px 47px;
    font-family: 'Pt Sans', sans-serif;
    width: 141px;
    background: #EE3643;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    border: none;
    color: #FFFFFF;
}

.brands-title {
    background: #F9F5F0;
    margin-top: 59px;
    padding: 29px 0px 30px 28px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425C;
    text-transform: uppercase;
}

.brands-title a {
    padding: 11px 24px 9px 24px;
    margin: 25px 10px 26px 0px;
    width: 192px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #FFFFFF;
    background: #EE3643;
    text-transform: uppercase;
}

.brands-list {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
    padding-inline-start: 0px;
}

.brands-list-item {
    width: 220px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EAEAEA;
}

.brands-item-img {
    width: auto;
    height: auto;
}

.services {
    background: #F3F7F9;
}

.services-box {
    display: flex;
}

.services-title {
    padding-top: 64px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.services-text {
    font-size: 13px;
    line-height: 24px;
    font-family: 'Pt Sans', sans-serif;
}

.services-left-middle {
    justify-content: space-around;
}

.services-left-middle-list-item-label {
    margin-top: 70px;
    padding: 13px 140px 17px 22px;
    font-size: 21px;
    line-height: 30px;
}

.services-left-middle-list-item {
    color: #FFFFFF;
    height: 61px;
    background: #32425C;
    width: 240px;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    box-shadow: 0px 1px 0px #405069;
    border: 1px solid black;
}


/* .services-left-middle-list-item:enabled {
    background: #FFFFFF;
    color: black;
} */

.services-left-middle-list-item:hover {
    background: #293449;
}

.radio-visibility-hidden {
    visibility: hidden;
}

.services-right-middle-list {
    display: flex;
}

.services-right-middle-title {
    margin-top: 67px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.services-right-middle-text {
    margin-top: 30px;
    margin-left: 80px;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Pt Sans', sans-serif;
}

.services-right-middle-img {
    width: 468px;
}

.services-bottom-title {
    margin-top: 70px;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.services-bottom-text {
    font-size: 13px;
    line-height: 24px;
    font-family: 'Pt Sans', sans-serif;
}

.services-left-bottom-list-item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.contacts-title {
    margin-top: 70px;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.contacts-map-img {
    margin-top: 32px;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
}

.contacts-text {
    font-size: 13px;
    line-height: 24px;
    font-family: 'Pt Sans', sans-serif;
}

.contacts-map-button {
    margin-top: 25px;
    margin-bottom: 70px;
    padding: 11px 61px 9px 61px;
    background: #EE3643;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.bread-list-item {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    font-family: 'Pt Sans'sans-serif;
}

.page-title {
    width: 940px;
}

.page-title h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.content {
    font-family: 'Pt Sans'sans-serif;
}

.filter-tittle {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.filter-heading {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
}

.filter-item {
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
}

.filter-btn {
    width: 220px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.sort-item {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.catalog-list {}

.catalog-item {
    position: relative;
    width: 220px;
}

.catalog-order {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    /* 0 */
    transition: opacity 0.3s;
}

.catalog-item:hover .catalog-order {
    opacity: 1;
}

.catalog-buy {
    width: 135px;
    background: #63A63E;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
}

.catalog-add-bookmarks {
    width: 135px;
    border-radius: 2px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
}

.catalog-img {
    width: 144px;
}

.catalog-heading {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.catalog-old-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #A9A9A9;
    text-decoration: line-through;
}

.catalog-price {
    width: 141px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #EE3643;
}

.pagination-btn {
    width: 38px;
}

.pagination-btn-next-btn {
    width: 140px;
    border-radius: 2px;
}

.pagination button:hover {
    background: #EE3643;
}

footer {
    background: #293449;
}

.footer-top-inner {
    display: flex;
}

.footer-top-list {
    display: flex;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.footer-middle-inner {
    display: flex;
}

.footer-middle-list {
    display: flex;
    font-size: 18px;
    font-weight: 400;
}

.footer-middle-list-item a {
    color: #FFD180;
}

.footer-middle-adress-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-bottom-inner {
    display: flex;
    justify-content: space-between;
}

.footer-bottom-list {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

..footer-bottom-list-item {}

.footer-bottom-contacts-text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-bottom-feedback {
    color: #FFFFFF;
}

.footer-a {
    color: #FFD180;
}